/* Font */
@font-face
{
  font-family: Montserrat;
  src:url("../fonts/Montserrat-Regular.ttf");
}

*
{ 
    font-family: Montserrat;
}

/* Header */
h1, h2, h3
{
    color:rgb(123, 27, 36);
    text-align: center;
}

/* Changes the mouse's cursor on Pointer */
.pointer { cursor: pointer }

/* Colors */
.lg-red  { color:rgb(123, 27, 36); }
.lg-red-on-hover:hover  { color:rgb(123, 27, 36); }
.lg-black { color:rgb(2, 5, 12); }

.lg-red-background  { background-color:rgb(123, 27, 36); }
.lg-black-background { background-color: rgb(2, 5, 12); }

.transparent-white-background { background-color: rgba(255, 255, 255, 0.25); }

body, html
{
    background-color: #0d0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.6'%3E%3Cpolygon fill='%23230507' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23390b0e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%234f1016' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2365161d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%237b1b24' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


/* Zooms when hovering */
.zoom { transition: transform .2s; }
.zoom:hover { transform: scale(1.2); }

.smallZoom { transition: transform .2s; }
.smallZoom:hover { transform: scale(1.05); }


.bold { font-weight: bold; }



.btn { background-color:rgb(123, 27, 36); }


.hover-bold:hover {
    font-weight: bold;
}


/* TABLE */
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

thead tr {
    background-color: rgba(123, 27, 36, 0.5);
}
tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.33);
}
tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.66);
}

/* TABS */
.tabs .indicator {
    background-color: rgb(255, 255, 255) !important;
}
.tabs .tab a.active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(185, 41, 54) !important;
}
  
.tabs .tab a:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(154, 34, 54)  !important;
}
  
.tabs .tab a {
    color: rgb(155, 155, 155) !important;
    background-color: rgb(123, 27, 36) !important;
}



/* FORMS */
/* label color */
.input-field label {
    color: #000 !important;
}
/* label focus color */
.input-field input:focus + label {
    color: rgb(123, 27, 36) !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid rgb(123, 27, 36) !important;
    box-shadow: 0 1px 0 0 rgb(123, 27, 36) !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #4db6ac !important;
    box-shadow: 0 1px 0 0 #4db6ac !important;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid rgb(185, 41, 54) !important;
    box-shadow: 0 1px 0 0 rgb(185, 41, 54) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: rgb(123, 27, 36) !important;
}


button, a .btn, a .btn-small, a .btn-large  {
    background-color: rgb(123, 27, 36) !important;
}


td a {
    height: 100%;
    width: 100%;
    display: block;
}
  
td {
    /* Cell styles for demonstration purposes only */
    border: 1px solid black;
    width: 10em;
}