{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Nouvelle Partie {% endblock %}

{% set userID = app.session.get('userID') %}

{% block body %}
    <!-- Modal Structure -->
    {% if userID is defined and userID != 0 %}
            
        <br><br>

        <!-- Title -->
        <h1 class="container bold"> Créer Partie </h1>


        <br><br>


        <div class="container">
            <div class="card" style="z-index:1;background-color: rgba(255, 255, 255, 0.75);">
                <form method="post" class="container">

                    <!-- Hidden CSRF token -->
                    <input hidden type="text" name="token" value="{{ csrf_token('party_create') }}">

                    <br>
                    
                    <!-- Name -->
                    <div class="input-field">
                        <i class="material-icons prefix">games</i>
                        <input id="name" name="name" type="text" class="validate" data-length="25" required>
                        <label for="name">Nom de la Partie</label>
                    </div>

                    <br><br>

                    <!-- Submit -->
                    <div style="text-align: center;">
                        <button class="btn-large smallZoom" type="submit">
                            Créer Partie !
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                    <br>

                    {% if errorMessage is defined %}
                        <br><br>
                        <h4 class="lg-red center"> {{ errorMessage }} </h4>
                    {% endif %}
                </form>
            </div>
        </div>
    {% else %}
        <div id="modal" class="modal">
            <div class="modal-content">
                <h4>Vous n'êtes pas connecté !</h4>
                <p>Vous devez vous connecter / créer un compte afin de pouvoir créer une partie !</p>
            </div>
            <div class="modal-footer">
                <a href="{{ path("account_connection") }}" class="modal-close waves-effect waves-green btn-flat">Se Connecter</a>
            </div>
        </div>
    {% endif %}

{% endblock %}



{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#modal').modal({dismissible: false});
            $('#modal').modal('open'); 

            $('input#name').characterCounter();
        });
    </script>
{% endblock %}