{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ party.name }} {% endblock %}

{% set userID = app.session.get('userID') %}

{% block body %}   
        <br><br>

        <!-- Title -->
        <h1 class="container bold"> {{ party.name }} </h1>

{% endblock %}



{% block javascripts %}
{% endblock %}