{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Statistiques {% endblock %}

{% block body %}   
        <br><br>

        <!-- Title -->
        <h1 class="container bold"> Statistiques </h1>
{% endblock %}



{% block javascripts %}
{% endblock %}