<div class="col s12">
    <div class="card lg-black-background">
        
        <div class="card-content">
            <h3>Erreur...</h3>
            <h5 class="center">
                Il n'y a pas de Rôle à afficher...
                <br>
                Désolé pour cet inconvénient :'(
            </h5>
        </div>

    </div>
</div>